[project]
id = "ai-flash-card"

[api]
port = 54321
schemas = ["public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
major_version = 15

[studio]
port = 54323

[auth]
site_url = "http://localhost:8081"
additional_redirect_urls = ["exp://localhost:8081"]
jwt_expiry = 3600

[auth.external.google]
enabled = false
client_id = ""
secret = ""

[auth.external.facebook]
enabled = false
client_id = ""
secret = ""

[auth.external.apple]
enabled = false
client_id = ""
secret = ""
